
<section>
  <h2>{{category}}</h2>
  <div class="grid-container">
    {{#each products}}
    <div class="grid-item">
      <h3>{{this.title}}</h3>
      <div>
        <img src={{this.image}} height="150" width="150">
      </div>
      <h6>${{this.price}}</h6>
    </div>
    {{/each}}
  </div>
</section>