<h2>Update Product</h2>
    <form method="POST" action="/product/update/{{_id}}?method=PUT">

        <label>Title</label>
        <input type="text" name="title" id="title" value="{{title}}" > <br><br>

        <label>Price</label>
        <input type="number" id="price" name="price"  value="{{price}}"></input><br><br>

        <label>Category</label>
        <input type="text" name="category" id="category" value="{{category}}"><br><br>


        <input type="submit" value="Update Product">
    </form>